.face3D 
{height: 300px;
width: 300px;
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%, -50%) ;
}

body {
    background-color: #000000;
    color : white
    }

    body{
        margin: 0;
        padding: 0;
        height: 100vh;
        justify-content: center;
        align-items: center;
        display: flex;
        

    }
    /*button css*/
    .btn{
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        font-weight: bold;
        background: #8b38e3;
        width: 60px;
        padding: 5px;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        color: #fff;
        border-radius: 5px;
        cursor: pointer;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-property: box-shadow, transform;
        transition-property: box-shadow, transform;
    }
    .btn:hover, .btn:focus, .btn:active{
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
          
   h1
   {
    position: absolute;
    top: 0px;
    right: 40px;

   }

h2
{
position: absolute;
right: 1px;
bottom: 20px


}
   
 h4
 {
position: absolute;
right: 1px;
bottom: 91px
 }

 h3
 {
position: absolute;
right: 1px;
bottom: 60px
 }

 iframe{
    position: absolute;
   display: none;
 }

 .buffalo{
    width: 400px;
    height:300px;
    display: block;
    bottom: 20vh;
    left: 5vw;
 }

 .faceid{
    width: 400px;
    height:300px;
    display: block;
    top: 2vh;
    right: 42vw;
 }

 .aquosus{
   width: 400px;
   height:300px;
   display: block;
   top: 56vh;
   right: 21vw;
}


.aimemories{
  width: 400px;
  height:300px;
  display: block;
  top: 56vh;
  right: 21vw;
}

 .btn_buffalo{
   font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    position: absolute;
    bottom: 20vh;
    left: 5vw;
 }

 .open{
   
    width: 80vw;
    height: 80vh;
    background-color: #6803d4;
    border-radius: 50px;
    z-index: 15;
 }

 .close_buffalo{
   font-family: Arial, Helvetica, sans-serif;
    background: rgb(0, 0, 0);
    border-radius: 15px;
    padding: 15px;
    width: fit-content;
    margin: 50px;
 }

.detail_buffalo .close_buffalo{
display: none
}

.open .close_buffalo{
    background: rgb(0, 0, 0);
    border-radius: 15px;
    padding: 15px;
    width: fit-content;
    margin: 50px;
    display: block;
}


.btn_faceid{
   font-family: Arial, Helvetica, sans-serif;
   font-size: 10pt;
    cursor: pointer;
    position: absolute;
    top: 30vh;
    right: 55vw;
 }

 .open{
   
    width: 80vw;
    height: 80vh;
    background-color: #6803d4;
    border-radius: 50px;
    z-index: 15;
 }

 .close_faceid{
   font-family: Arial, Helvetica, sans-serif;
    background: rgb(0, 0, 0);
    border-radius: 15px;
    padding: 15px;
    width: fit-content;
    margin: 50px;
 }

.detail_faceid .close_faceid{
display: none
}

.open .close_faceid{
    background: rgb(0, 0, 0);
    border-radius: 15px;
    padding: 15px;
    width: fit-content;
    margin: 50px;
    display: block;
}

.btn_aquosus{
   font-family: Arial, Helvetica, sans-serif;
   font-size: 10pt;
    cursor: pointer;
    position: absolute;
    top: 91vh;
    right: 12vw;
 }

 .open{
   
    width: 80vw;
    height: 80vh;
    background-color: #6803d4;
    border-radius: 50px;
    z-index: 15;
 }

 .close_aquosus{
   font-family: Arial, Helvetica, sans-serif;
    background: rgb(0, 0, 0);
    border-radius: 15px;
    padding: 15px;
    width: fit-content;
    margin: 50px;
 }

.detail_aquosus .close_aquosus{
display: none
}

.open .close_aquosus{
    background: rgb(0, 0, 0);
    border-radius: 15px;
    padding: 15px;
    width: fit-content;
    margin: 50px;
    display: block;
}



.btn_aimemories{
   font-family: Arial, Helvetica, sans-serif;
   font-size: 10pt;
    cursor: pointer;
    position: absolute;
    top: 91vh;
    right: 12vw;
 }

 .open{
   
    width: 80vw;
    height: 80vh;
    background-color: #6803d4;
    border-radius: 50px;
    z-index: 15;
 }

 .close_aimemories{
   font-family: Arial, Helvetica, sans-serif;
    background: rgb(0, 0, 0);
    border-radius: 15px;
    padding: 15px;
    width: fit-content;
    margin: 50px;
 }

.detail_aimemories .close_aimemories{
display: none
}

.open .close_aimemories{
    background: rgb(0, 0, 0);
    border-radius: 15px;
    padding: 15px;
    width: fit-content;
    margin: 50px;
    display: block;
}


